@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
* {
	font-family: 'Comfortaa', cursive;
	margin:0;
	padding:0;
	font-weight:bold;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
}

/*nav angkasa logo*/
nav {
	box-shadow: none !important;
}

nav img {
	margin-top: 10px;
	width: 140px;
}
/*mainnav container*/
/*.costumfixednav {
	width: 100px;
	height: 100px;
	background-color: salmon;
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0) !important;
}*/

nav .mainnavlist {
	margin-right: -90px;
}

/*nav costumcolor mainnavbar*/
.costumcolor {
	background-color: #7289da;
}

.costumcolor ul li a {
	color: rgba(255,255,255,1);
}

/*costum color dropdown mainnav*/
#dropdown-main .mainnavcstmcolor a {
	color: rgba(0,0,0,.87);
}

.navlogo {
	color: rgba(0,0,0,.87);
	width: 18px;
	margin-left: 10px;
	margin-bottom: -4px;
}

/*costumsidenav*/
.costumsdnav {
	border-bottom-right-radius: 80px;
	border-top-right-radius: 8px;
}

.sidenav .containerakbarlogosdnav {
	width: 225px;
	background-color: #7289da;
	border-bottom-right-radius: 85px;
}

.sidenav .containerakbarlogosdnav img {
	width: 165px;
	margin: 18px;
}

.sidenav .costumlist {
	background-color: rgba(114,137,218,.3);
	border-radius: 10px;
	margin: 10px;
	margin-bottom: 0px;
	width: 150px;
}

.sidenav .costumlist a {
	margin-left: -8px;
}

.sidenav .costumlist:hover {
  background-color: rgba(153,170,181,.5);
	border-radius: 10px;
	margin: 10px;
	margin-bottom: 0px;
	overflow: hidden;
}
/*PENUTUP NAV*/

/*HOME*/
/*TYPING ANIMATION HOME*/
.line {
      top: 50%;
      width: 11ch;
      font-size: 45px;
      margin: 50px auto;
      border-right: 2px solid rgba(255, 255, 255, 0.75);
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
     /* transform: translateY(-10%);*/
      /*animation:  KITA TIDAK MENARUH animation iteration-count blinkTextCursor disini agar animation dapat bekerja karena class line berada bersama di .anime-typewriter SEBENARNYA BISA SAJA KITA MENARUH ANIMATION DIDALAM KELAS LINE INI, TETAPI AGAR LEBIH MUDAH MEMBEDAKANNYA KITA MEMISAHKANNYA DENGAN KELAS LAIN*/
}

.anim-typewriter {
      animation: typewriter 2.2s steps(22) 1s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
      from {
            width: 0;
      }
      to {
            width: 11ch;
      }
}

@keyframes blinkTextCursor {
      from {
            border-right-color: rgba(255, 255, 255, 0.75);
      }
      to {
            border-right-color: transparent;
      }
}
/*PENUTUP TYPING ANIMATION HOME*/










/*HOME TEXT*/
section {
	height:90vh;
	background-color: #7289da;
	margin:0;
	position:relative;
	width: 100%;
	overflow: hidden;
	background-image: radial-gradient(ellipse farthest-corner at bottom right,rgba(255,255,255,.15),#7289da);
	font-weight: bold;
	color: rgb(255,255,255);
	text-align: center;
}

section .hometxt {
	margin-top: 50px;
}

section h2 {
	font-size: 80px;
}

section h4 {
	font-size: 40px;
}

section .container {
	margin-top: 70px;
}
/*PENUTUP HOME TEXT*/
/*wavy animation HOME*/
.wavy {
	width: 100%;
	height: 100px;
	bottom: -5px;
	left: 0;
	background: url(../img/wave.png);
	position: absolute;
	background-size: 500px 100px;
}

section .wavy{
	animation: waveboy 5s linear infinite;
	animation-delay: 0s;
}

@keyframes waveboy {
	0%{
		background-position-x:0;
	}
	100%{
		background-position-x:1000px;
	}
}
/*penutup wavy animation HOME*/
/*penutup wavy background HOME*/
/*svg*/
section .computerguywrap {
	margin: auto;
	width: 300px;
	height: 300px;
	top: 50px;
	position: relative;
	text-align: center;
/*	background-color: salmon;
*/}

section #computerguy {
	width: 300px;
	position: absolute;
	top: 10px;
	left: 30px;
	margin: auto;
/*	background-color: green;
*/}
section #computerguy #man {
	animation: dudeanim 4s infinite steps(900);
	transform-origin: center;
	transform-box:fill-box;
}

/*responsive svg HOME*/
/*@media only screen and (max-width: 542px){
	section #computerguy {
	width: 50vh;
	margin-top: -210px;
	margin-left: 40px;
	}
}*/
/*penutup responsive svg HOME*/

/*svg animation HOME*/
#layar {
	animation: updowns 4s infinite linear;
	animation-direction: alternate;
}

#right-bracket {
	animation: rb-anim 4s infinite linear;
	animation-direction: alternate;
}

#left-bracket {
	animation: lb-anim 4s infinite linear;
	animation-direction: alternate;
}

@keyframes rb-anim {
	0%{
		transform: translateY(0px);
		transform: translateX(0px);
	}
	50%{
		transform: translate(15px, -10px);
	}
	100%{
		transform: translateY(10px);
	}
}

@keyframes lb-anim {
	0%{
		transform: translateY(0px);
		transform: translateX(0px);
	}
	50%{
		transform: translate(-15px, -10px);
	}
	100%{
		transform: translateY(10px);

	}
}

@keyframes updowns{
	0%{
		transform: translateY(0px);
	}
	50%{
		transform: translateY(-10px);
	}
	100%{
		transform: translateY(10px);
	}
}

/*penutup svg animation HOME*/
/*penutup svg HOME*/
/*PENUTUP HOME*/


/*ABOUT*/
/*LAPTOP VERSION*/
#about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 100px auto;
	text-align: center;
}

#about span {
	font-size: 40px;
	color: #23272a;
	margin: 24px auto;
}

#about .aboutme {
	width: 400px;
	height: 200px; 	
	margin: auto;
	display: flex;
	flex-direction: row;
	position: relative;
	/*PARENT DARI .authorpict & >descriptionauhor*/
}

#about .aboutme #clickme  {
	display: none;
}

#about .aboutme #clickme img {
	display: none;
}

#about .aboutme .authorpict  {
	width: 200px;
	height: 200px;
	background-size: cover;
	background-position: -70px;
	background-image: url(../img/akbarangkasa.jpg);
	border-radius: 50%;
	background-color: salmon;
	position: absolute;
	top: 0;
	left: 25%;
	transition: .3s;
	box-shadow: 0 5px 5px 0 rgba(0,0,0,.5);
}

#about .aboutme .authorpictdesktop  {
	width: 200px;
	height: 200px;
	background-size: cover;
	background-position: -70px;
	background-image: url(../img/akbarangkasa.jpg);
	border-radius: 50%;
	background-color: salmon;
	position: absolute;
	top: 0;
	left: 0;
	transition: .3s;
	box-shadow: none;
}

#about .aboutme .descriptionauthor {
	width: 0;
	height: 0;
	background-color: #7289da;
	position: absolute;
	z-index: -999;
	top: 0;
	right: 0;
	overflow: hidden;
	transition: .3s;
}

#about .aboutme .descriptionauthordesktop {
	width: 300px;
	height: 200px;
	background-color: #7289da;
	position: absolute;
	z-index: -999;
	top: 0;
	right: 0;
	transition: .3s;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 25px;
}

#about .aboutme .descriptionauthor .relativedsctathr {
	position: relative;
	margin-left: 100px;
	width: 0;
	text-align: left;
	overflow: hidden;
	transition: .3s;
}

#about .aboutme .descriptionauthor .relativedsctathrdesktop {
	position: relative;
	margin-left: 100px;
	width: 200px;
/*	background-color: red;
*/	text-align: left;
	transition: .3s;

}

#about .aboutme .descriptionauthor .relativedsctathr span,p{
	color: #fff;
	margin: 15px;
}

/*penutup device version*/


/*MOBILE VERSION ABOUT*/
@media only screen and (max-width: 730px ){
	#about {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 100px auto;
		text-align: center;
	}
	#about span {
		font-size: 40px;
	}

	#about .aboutme {
		display: flex;
		width: 200px;
		height: 400px;
		flex-direction: column;
		position: relative;
		/*PARENT DARI .authorpict & >descriptionauhor & #clickme*/
	}

	
	#about .aboutme .authorpict  {
		width: 200px;
		height: 200px;
		background-size: cover;
		background-position: -70px;
		background-image: url(../img/akbarangkasa.jpg);
		border-radius: 50%;
		background-color: salmon;
		position: absolute;
		box-shadow: 0 5px 5px 0 rgba(0,0,0,.4);
		transition: .3s;
		top: 0;
		left: 0 !important;
		/*z-index: 8888;*/
	}

	#about .aboutme .authorpictmuncul  {
		width: 200px;
		height: 200px;
		background-size: cover;
		background-position: -70px;
		background-image: url(../img/akbarangkasa.jpg);
		border-radius: 50%;
		background-color: salmon;
		position: absolute;
		box-shadow: none;
		transition: .3s;
	/*	top: 0;
		left: 0;*/
		/*z-index: 8888;*/
	}

	#about .aboutme .descriptionauthor {
	/*	width: 300px;
		height: 200px;*/
		width: 200px;
		height: 0;
		margin-top: 100px;
		background-color: #7289da;
		position: absolute;
		z-index: -999;
		transition: .3s;
		overflow: hidden;
	/*	top: 0;
		right: 0;*/
	}

	#about .aboutme .descriptionauthormuncul {
	/*	width: 300px;
		height: 200px;*/
		width: 200px;
		height: 300px;
		margin-top: 100px;
		background-color: #7289da;
		position: absolute;
		z-index: -999;
		display: block;
		transition: .3s;
		border-bottom-left-radius: 25px;
	/*	top: 0;
		right: 0;*/
	}	

	#about .aboutme .descriptionauthor .relativedsctathr {
		position: relative;
		margin: 100px auto;
		width: 200px;
		text-align: center;
	}

	#about .aboutme .descriptionauthor .relativedsctathr span{
		color: #fff;
		margin: 0;
	}

	#about .aboutme .descriptionauthor .relativedsctathr p {
		margin: 5px;
		color: #fff;

	}
}

/*PENUTUP ABOUT*/
