body {
	font-family:font-family: 'Cairo', sans-serif;
	margin:0;
	padding:0;
	font-weight:bold;
	color: rgba(0,0,0,.87);
}

nav img {
	margin-top: 10px;
	width: 140px;
}
/*costumcolor mainnavbar*/
.costumcolor {
	background-color: #1A1A1D;
}

.costumcolor ul li a {
	color: rgba(255,255,255,.87);
}

/*costum color dropdown mainnav*/
#dropdown-main .mainnavcstmcolor a {
	color: rgba(0,0,0,.87);
}

.navlogo {
	color: rgba(0,0,0,.87);
	width: 18px;
	margin-left: 10px;
	margin-bottom: -4px;
}

/*costumsidenav*/
.costumsdnav {
	border-bottom-right-radius: 80px;
	border-top-right-radius: 8px;
}

.sidenav .containerakbarlogosdnav {
	width: 225px;
	background-color: #7289da;
	border-bottom-right-radius: 85px;
}

.sidenav .containerakbarlogosdnav img {
	width: 165px;
	margin: 18px;
}

.sidenav .costumlist {
	background-color: rgba(114,137,218,.3);
	border-radius: 10px;
	margin: 10px;
	margin-bottom: 0px;
	width: 150px;
}

.sidenav .costumlist a {
	margin-left: -8px;
}

.sidenav .costumlist:hover {
  background-color: rgba(153,170,181,.5);
	border-radius: 10px;
	margin: 10px;
	margin-bottom: 0px;
	overflow: hidden;
}
