@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
* {
	font-family: 'Comfortaa', cursive;
	margin:0;
	padding:0;
	font-weight:bold;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
}

/*nav angkasa logo*/
nav {
	box-shadow: none !important;
}

nav img {
	margin-top: 10px;
	width: 140px;
}
/*mainnav container*/
/*.costumfixednav {
	width: 100px;
	height: 100px;
	background-color: salmon;
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0) !important;
}*/

nav .mainnavlist {
	margin-right: -200px;
}

nav .mainnavlist li a{
	padding-right: 12px !important;
	padding-left: 12px !important;
}

/*nav costumcolor mainnavbar*/
.costumcolor {
	background-color: #7289da;
}

.costumcolor ul li a {
	color: rgba(255,255,255,1);
}

/*costum color dropdown mainnav*/
#dropdown-main .mainnavcstmcolor a {
	color: rgba(0,0,0,.87);
}

.navlogo {
	color: rgba(0,0,0,.87);
	width: 18px;
	margin-left: 10px;
	margin-bottom: -4px;
}

/*costumsidenav*/
.costumsdnav {
	border-bottom-right-radius: 80px;
	border-top-right-radius: 8px;
}

.sidenav .containerakbarlogosdnav {
	width: 225px;
	background-color: #7289da;
	border-bottom-right-radius: 85px;
}

.sidenav .containerakbarlogosdnav img {
	width: 165px;
	margin: 18px;
}

.sidenav .costumlist {
	background-color: rgba(114,137,218,.3);
	border-radius: 10px;
	margin: 10px;
	margin-bottom: 0px;
	width: 150px;
}

.sidenav .costumlist a {
	margin-left: -8px;
}

.sidenav .costumlist:hover {
  background-color: rgba(153,170,181,.5);
	border-radius: 10px;
	margin: 10px;
	margin-bottom: 0px;
	overflow: hidden;
}
/*PENUTUP NAV*/

/*HOME*/
/*TYPING ANIMATION HOME*/
.line {
      top: 50%;
      width: 11ch;
      font-size: 45px;
      margin: 50px auto;
      border-right: 2px solid rgba(255, 255, 255, 0.75);
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
     /* transform: translateY(-10%);*/
      /*animation:  KITA TIDAK MENARUH animation iteration-count blinkTextCursor disini agar animation dapat bekerja karena class line berada bersama di .anime-typewriter SEBENARNYA BISA SAJA KITA MENARUH ANIMATION DIDALAM KELAS LINE INI, TETAPI AGAR LEBIH MUDAH MEMBEDAKANNYA KITA MEMISAHKANNYA DENGAN KELAS LAIN*/
}

.anim-typewriter {
      animation: typewriter 2.2s steps(22) 1s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
      from {
            width: 0;
      }
      to {
            width: 11ch;
      }
}

@keyframes blinkTextCursor {
      from {
            border-right-color: rgba(255, 255, 255, 0.75);
      }
      to {
            border-right-color: transparent;
      }
}
/*PENUTUP TYPING ANIMATION HOME*/










/*HOME TEXT*/
section {
	height:90vh;
	background-color: #7289da;
	margin:0;
	position:relative;
	width: 100%;
	overflow: hidden;
	background-image: radial-gradient(ellipse farthest-corner at bottom right,rgba(255,255,255,.15),#7289da);
	font-weight: bold;
	color: rgb(255,255,255);
	text-align: center;
}

section .hometxt {
	margin-top: 50px;
}

section h2 {
	font-size: 80px;
}

section h4 {
	font-size: 40px;
}

section .container {
	margin-top: 70px;
}
/*PENUTUP HOME TEXT*/
/*wavy animation HOME*/
.wavy {
	width: 100%;
	height: 100px;
	bottom: -5px;
	left: 0;
	background: url(../img/wave.png);
	position: absolute;
	background-size: 500px 100px;
}

section .wavy{
	animation: waveboy 5s linear infinite;
	animation-delay: 0s;
}

@keyframes waveboy {
	0%{
		background-position-x:0;
	}
	100%{
		background-position-x:1000px;
	}
}
/*penutup wavy animation HOME*/
/*penutup wavy background HOME*/
/*svg*/
section .computerguywrap {
	margin: auto;
	width: 300px;
	height: 300px;
	top: 50px;
	position: relative;
	text-align: center;
/*	background-color: salmon;
*/}

section #computerguy {
	width: 300px;
	position: absolute;
	top: 10px;
	left: 30px;
	margin: auto;
/*	background-color: green;
*/}
section #computerguy #man {
	animation: dudeanim 4s infinite steps(900);
	transform-origin: center;
	transform-box:fill-box;
}

/*responsive svg HOME*/
/*@media only screen and (max-width: 542px){
	section #computerguy {
	width: 50vh;
	margin-top: -210px;
	margin-left: 40px;
	}
}*/
/*penutup responsive svg HOME*/

/*svg animation HOME*/
#layar {
	animation: updowns 4s infinite linear;
	animation-direction: alternate;
}

#right-bracket {
	animation: rb-anim 4s infinite linear;
	animation-direction: alternate;
}

#left-bracket {
	animation: lb-anim 4s infinite linear;
	animation-direction: alternate;
}

@keyframes rb-anim {
	0%{
		transform: translateY(0px);
		transform: translateX(0px);
	}
	50%{
		transform: translate(15px, -10px);
	}
	100%{
		transform: translateY(10px);
	}
}

@keyframes lb-anim {
	0%{
		transform: translateY(0px);
		transform: translateX(0px);
	}
	50%{
		transform: translate(-15px, -10px);
	}
	100%{
		transform: translateY(10px);

	}
}

@keyframes updowns{
	0%{
		transform: translateY(0px);
	}
	50%{
		transform: translateY(-10px);
	}
	100%{
		transform: translateY(10px);
	}
}

/*penutup svg animation HOME*/
/*penutup svg HOME*/
/*PENUTUP HOME*/


/*ABOUT*/
/*LAPTOP VERSION*/
#about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 100px auto;
	text-align: center;
}

#about span {
	font-size: 50px;
	color: #23272a;
	margin: 24px auto;
}

#about .aboutme {
	width: 500px;
	height: 200px; 	
	margin: auto;
	display: flex;
	flex-direction: row;
	position: relative;
	/*PARENT DARI .authorpict & >descriptionauhor*/
}

#about .aboutme .authorpict  {
	width: 200px;
	height: 200px;
	background-size: cover;
	background-position: -70px;
	background-image: url(../img/akbarangkasa.jpg);
	border-radius: 50%;
	background-color: salmon;
	position: absolute;
	top: 0;
	left: 30%;
	transition: .3s;
	box-shadow: 0 5px 5px 0 rgba(0,0,0,.5);
}

#about .aboutme .authorpictdesktop  {
	width: 200px;
	height: 200px;
	background-size: cover;
	background-position: -70px;
	background-image: url(../img/akbarangkasa.jpg);
	border-radius: 50%;
	background-color: salmon;
	position: absolute;
	top: 0;
	left: 0;
	transition: .3s;
	box-shadow: none;
}

#about .aboutme .descriptionauthor {
	width: 0;
	height: 0;
	background-color: #7289da;
	position: absolute;
	z-index: -999;
	top: 0;
	right: 0;
	overflow: hidden;
	transition: .3s;
}

#about .aboutme .descriptionauthordesktop {
	width: 400px;
	height: 200px;
	background-color: #7289da;
	position: absolute;
	z-index: -999;
	top: 0;
	right: 0;
	transition: .3s;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 25px;
}

#about .aboutme #clickme  {
	position: relative;
	top:40%;
	left:80%;
	z-index: -9999;
}

#about .aboutme .clickmedesktop  {
	position: relative;
	top:40%;
	left:80%;
	z-index: -9999;
	transition: .3s !important;
	display: none !important; 
}

#about .aboutme #clickme img {
	position: absolute;
	top:10%;
	left: 25%;
	width: 25px;
	transform: rotateZ(-90deg);
	animation:animrowdesktop 2s linear infinite;
}

@keyframes animrowdesktop{
	0%{
		transform: none;
		transform: rotate(-90deg);
	}
	50%{
		transform: translateX(-5px) rotate(-90deg);
	}
	75%{
		transform: translateX(5px) rotate(-90deg);
	}
	100%{
		transform: none;
		transform: rotate(-90deg);
	}
}

#about .aboutme .descriptionauthor .relativedsctathr {
	position: relative;
	margin-left: 100px;
	width: 0;
	text-align: left;
	overflow: hidden;
	transition: .3s;
}

#about .aboutme .descriptionauthor .relativedsctathr span{
	color: #fff;
	display: inline-block;
	margin-top: 10px !important;
	margin-left: 55px !important;
	margin-bottom: 0 !important;
	font-size: 20px;
}

#about .aboutme .descriptionauthor .relativedsctathr p {
	color: #fff;
	font-size: 12px;
	text-align: left !important;
	display: inline-block;
	margin: 10px 10px 10px 10px;
}

#about .aboutme .descriptionauthor .relativedsctathrdesktop  {
	position: relative;
	margin-left: 100px;
	width: 300px;
/*	background-color: red;
*/	text-align: left;
	transition: .3s;
}

/*penutup device version*/
/*MOBILE VERSION ABOUT*/
@media only screen and (max-width: 730px ){
	#about {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 100px auto;
		text-align: center; 
	}

	#about span {
		font-size: 42px;
	}

	#about .aboutme {
		display: flex;
		width: 200px;
		height: 500px;
		flex-direction: column;
		position: relative;
		/*PARENT DARI .authorpict & >descriptionauhor & #clickme*/
	}

	#about .aboutme .authorpict  {
		position: absolute;
		width: 200px;
		height: 200px;
		background-size: cover;
		background-position: -70px;
		background-image: url(../img/akbarangkasa.jpg);
		border-radius: 50%;
		background-color: salmon;
		box-shadow: 0 5px 5px 0 rgba(0,0,0,.4);
		transition: .3s;
		top: 0;
		left: 0 !important;
		/*kita tidak bisa memberi bottom karena position absolute = non static dan sudah mempunyai element saudara yang juga non statis yaitu id='clickme' dan .descriptionauthor*/
		/*z-index: 8888;*/
	}

	#about .aboutme .authorpictmuncul  {
		position: absolute;
		width: 200px;
		height: 200px;
		background-size: cover;
		background-position: -70px;
		background-image: url(../img/akbarangkasa.jpg);
		border-radius: 50%;
		background-color: salmon;
		box-shadow: none;
		transition: .3s;
	/*	top: 0;
		left: 0;*/
		/*z-index: 8888;*/
	}

	#about .aboutme .descriptionauthor {
	/*	width: 300px;
		height: 200px;*/
		width: 200px;
		height: 0;
		margin-top: 100px;
		background-color: #7289da;
		position: absolute;
		z-index: -999;
		transition: .3s;
		overflow: hidden;
	/*	top: 0;
		right: 0;*/
	}

	#about .aboutme .descriptionauthormuncul {
	/*	width: 300px;
		height: 200px;*/
		width: 200px;
		height: 400px;
		margin-top: 100px;
		bottom: 0;
		background-color: #7289da;
		position: absolute;
		z-index: -999;
		display: block;
		transition: .3s;
		border-bottom-left-radius: 25px;
	/*	top: 0;
		right: 0;*/
	}	

	#about .aboutme .descriptionauthor .relativedsctathr {
		position: relative;
		margin: 100px auto;
		width: 200px;

	}

	#about .aboutme .descriptionauthor .relativedsctathr span{
		color: #fff;
		display: inline-block;
		margin-top: 10px !important;
		margin-bottom: 0 !important;
		margin-left: 28px !important;
		margin-right: auto !important;
		font-size: 18px;
	}

	#about .aboutme .descriptionauthor .relativedsctathr p {
		color: #fff;
		font-size: 14px !important;
		text-align: left !important;
		display: inline-block;
		margin: 10px 10px 10px 10px;
	}

	#about .aboutme #clickme {
		position: relative;
		text-align: center;
		top:200px;
		width: 200px;
		height: 200px;
		margin:100px auto;
		right: 10px;
		font-size: 20px;
		left: 0;
		display: block;
		z-index: -99999;
		font-weight: bold;
		font-size: 30px;
		transition: .3s;
		/*animation: arrowanim 1s linear infinite;*/
	}

		#about .aboutme .clickmemobile {
		position: relative;
		text-align: center;
		top:0;
		width: 0;
		height: 0;
		top:200px;
		margin:100px auto;
		right: 0;
		left: 0;
		font-size: 0;
		display: block;
		z-index: -99999;
		font-weight: bold;
		font-size: 30px;
		color: green;
		transition: .2s;
		display: none !important;
		/*animation: arrowanim 1s linear infinite;*/
	}

	#about .aboutme #clickme img {
		position: absolute;
		text-align: center;
		top:-60px;
		right: 0;
		left: 0;
		margin: auto;
		width: 38px;
		animation: arrowanim 1s linear infinite;	
		display: block;
		z-index: -99999;
	}

	@keyframes arrowanim{
		0%{
			transform: translateY(0);
		}
		50%{
			transform: translateY(4px);
		}
		100%{
			transform: translateY(0);
		}
	}
}
/*PENUTUP ABOUT*/


.container {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

/*SKILLS*/
/*BACKGROUND BG SKILLS DAN .bgwrapforskillswrap*/
.bgskills {
	display: block;
	width: 100%;
	height: 200px;
	position: relative;
}

.bgskills .bgskillswavetop {
	width: 100%;
	height: 100px;
	bottom: 0;
	position: absolute;
	background-image: url(../img/waveuntukskillstop.png);
	background-size: cover;
}

.bgskills .bgskillswavebottom {
	width: 100%;
	height: 100px;
	top: -100px;
	right: 0;
	position: absolute;
	background-image: url(../img/waveuntukskillsbottom.png);
	background-size: cover;
}

.bgwrapforskillswrap {
	display: block;
	background-color: #e3e3e3;
}
/*bgskills*/
/*responsive bg skills*/
@media only screen and (max-width: 730px){
	.bgskills {
		display: none !important;
		width: 100%;
		height: 200px;
		position: relative;
	}

	.bgskills .bgskillswavetop {
		width: 100%;
		height: 100px;
		bottom: 0;
		position: absolute;
		background-image: url(../img/waveuntukskillstop.png);
		background-size: cover;
	}

	.bgskills .bgskillswavebottom {
		width: 100%;
		height: 100px;
		top: -100px;
		right: 0;
		position: absolute;
		background-image: url(../img/waveuntukskillsbottom.png);
		background-size: cover;
	}

	.bgwrapforskillswrap {
		display: none !important;
		background-color: #e3e3e3;
	}
}
/*PENUTUP RESPONSIVE BGSKILLS*/
/*PENUTUP BACKGROUND BG SKILLS DAN .bgwrapforskillswrap*/



/*BACKGROUND BG SKILLS DAN .bgwrapforskillswrapmobile*/
.bgskillsmobile {
	display: none !important;
	width: 100%;
	height: 20px;
	position: relative;
}

.bgskillsmobile .bgskillswavetopmobile {
	width: 100%;
	height: 100px;
	bottom: 0;
	position: absolute;
	background-image: url(../img/waveuntukskillstop.png);
	background-size: cover;
}

.bgskillsmobile .bgskillswavebottommobile {
	width: 100%;
	height: 100px;
	top: -100px;
	right: 0;
	position: absolute;
	background-image: url(../img/waveuntukskillsbottom.png);
	background-size: cover;
}

.bgwrapforskillswrapmobile {
	display: none !important;
	background-color: #e3e3e3;
}	
/*RESPONSIVE BACKGROUND BG SKILLS DAN .bgwrapforskillswrapmobile */
@media only screen and (max-width: 730px){
	.bgskillsmobile {
		display: block !important;
		width: 100%;
		height: 20px;
		position: relative;
	}

	.bgskillsmobile .bgskillswavetopmobile {
		width: 100%;
		height: 100px;
		bottom: 0;
		position: absolute;
		background-image: url(../img/waveuntukskillstop.png);
		background-size: cover;
	}

	.bgskillsmobile .bgskillswavebottommobile {
		width: 100%;
		height: 100px;
		top: -100px;
		right: 0;
		position: absolute;
		background-image: url(../img/waveuntukskillsbottom.png);
		background-size: cover;
	}

	.bgwrapforskillswrapmobile {
		display: block !important;
		background-color: #e3e3e3;
	}	
}
/*PENUTUP RESPONSIVE BACKGROUND BG SKILLS DAN .bgwrapforskillswrapmobile */
/*PENUTUP BACKGROUND BG SKILLS DAN .bgwrapforskillswrapmobile*/



/*SKILLSWRAP*/
#skillswrap {
	display: block;
	height: 650px;
	margin: 200px auto;
/*	background-color: salmon;
*/	text-align: center;
	overflow: hidden;
	position: relative;
}

#skillswrap #skillstitlewrapperdesktop{
	position: relative;
	width: 500px;
	margin: auto;
	height: 80px;
}

#skillswrap #skillstitlewrapperdesktop span {
	top: 0;
	right: 0;
	left: 0;
	color: #23272a;
	font-size: 70px;
	position: absolute;

}

#skillswrap #skillstitlewrapperdesktop img {
	position: absolute;	
	top: 5px;
	width: 75px;
	right: 65px;
}

#skillswrap span {
	display: block;
	font-size: 70px;
	height: 80px;
	color: #23272a;
	margin: auto;
	font-weight: bold;
	position: relative;
}

#skillswrap .skills {
	display: flex;
	flex-direction: row;
	margin: auto;
}

#skillswrap .skills .sklicon {
	margin: 50px auto;
}

#skillswrap .skills .sklicon img {
/*	background-color: green;
*/	margin: auto;
	width: 120px;
	animation: skillsanim 3s linear infinite;
}

@keyframes skillsanim {
	0%{
		transform: none;
	}
	50%{
		transform: scale(.9);
	}
	100%{
		transform: none;
	}
}
/*responsive skills desktop*/
/*APABILA MAXWIDTH 730PX MAKA DISPLAY NONE*/
@media only screen and (max-width: 730px){
	#skillswrap {
		display: none!important;
		margin: 200px auto;
		height: 650px;
	/*	background-color: salmon;
	*/	text-align: center;
		overflow: hidden;
		position: relative;
	}

	#skillswrap #skillstitlewrapperdesktop{
		position: relative;
		width: 500px;
		margin: auto;
		height: 80px;
	}

	#skillswrap #skillstitlewrapperdesktop span {
		top: 0;
		right: 0;
		left: 0;
		color: #23272a;
		font-size: 70px;
		position: absolute;

	}

	#skillswrap #skillstitlewrapperdesktop img {
		position: absolute;	
		top: 5px;
		width: 75px;
		right: 65px;
	}

	#skillswrap span {
		display: block;
		font-size: 70px;
		height: 80px;
		color: #23272a;
		margin: auto;
		font-weight: bold;
		position: relative;
	}

	#skillswrap .skills {
		display: flex;
		flex-direction: row;
		margin: auto;
	}

	#skillswrap .skills .sklicon {
		margin: 50px auto;
	}

	#skillswrap .skills .sklicon img {
	/*	background-color: green;
	*/	margin: auto;
		width: 120px;
		animation: skillsanim 3s linear infinite;
	}

	@keyframes skillsanim {
		0%{
			transform: none;
		}
		50%{
			transform: scale(.9);
		}
		100%{
			transform: none;
		}
	}	
}


/*PENUTUP RESPONSIVE SKILLS DESKTOP*/
/*responsive skills MOBILE NONE*/
/*SKILLS MBILE*/
/*APABILA WIDTHNYA DIATAS 730PX MAKA HIDE*/

	/*SKILLS MOBILE*/
	#skillswrapmobile {
		height: 1100px;
		display: none;
		margin: 100px auto;
	/*	background-color: salmon;
	*/	text-align: center;
		overflow: hidden;
		position: relative;
	}

	#skillswrapmobile #skillstitlewrappermobile{
		position: relative;
		height: 80px;
	}

	#skillswrapmobile #skillstitlewrappermobile span{
		position: absolute;
		right: 0;
		left: 0;
		color: #23272a;
		font-size: 70px;
	}

	#skillswrapmobile #skillstitlewrappermobile img{
		position: absolute;
		top: 5px;
		width: 75px;
		right: 90px;
	}


	#skillswrapmobile .skills {
		display: flex;
		flex-direction: row;
		margin: auto;
	}

	#skillswrapmobile .skills .sklicon {
		margin: 50px auto;
	}

	#skillswrapmobile .skills .sklicon img {
	/*	background-color: green;
	*/	margin: auto;
		width: 120px;
		animation: skillsanim 3s linear infinite;
	}

	@keyframes skillsanim {
		0%{
			transform: none;
		}
		50%{
			transform: scale(.9);
		}
		100%{
			transform: none;
		}
	}

/*responsive skills untuk mobile BLOCK*/
/*APABILA WIDTH 730PX MAKA DISPLAY BLOCK*/
@media only screen and (max-width: 730px){
	/*SKILLS MOBILE*/
	#skillswrapmobile {
		height: 1100px;
		display: block !important;
		margin: 100px auto;
	/*	background-color: salmon;
	*/	text-align: center;
		overflow: hidden;
		position: relative;
	}

	#skillswrapmobile #skillstitlewrappermobile{
		position: relative;
		height: 80px;
	}

	#skillswrapmobile #skillstitlewrappermobile span{
		position: absolute;
		right: 0;
		left: 0;
		color: #23272a;
		font-size: 70px;
	}

	#skillswrapmobile #skillstitlewrappermobile img{
		position: absolute;
		top: 5px;
		width: 75px;
		right: 90px;
	}


	#skillswrapmobile .skills {
		display: flex;
		flex-direction: row;
		margin: auto;
	}

	#skillswrapmobile .skills .sklicon {
		margin: 50px auto;
	}

	#skillswrapmobile .skills .sklicon img {
	/*	background-color: green;
	*/	margin: auto;
		width: 120px;
		animation: skillsanim 3s linear infinite;
	}

	@keyframes skillsanim {
		0%{
			transform: none;
		}
		50%{
			transform: scale(.9);
		}
		100%{
			transform: none;
		}
	}
}

@media only screen and (max-width: 560px){
	/*SKILLS MOBILE*/
	#skillswrapmobile {
		height: 1100px;
		display: block !important;
		margin: 100px auto;
	/*	background-color: salmon;
	*/	text-align: center;
		overflow: hidden;
		position: relative;
	}

	#skillswrapmobile #skillstitlewrappermobile{
		position: relative;
		height: 80px;
	}

	#skillswrapmobile #skillstitlewrappermobile span{
		position: absolute;
		right: 0;
		left: 0;
		color: #23272a;
		font-size: 70px;
	}

	#skillswrapmobile #skillstitlewrappermobile img{
		position: absolute;
		top: 5px;
		width: 75px;
		right: 90px;
		display: none;
	}


	#skillswrapmobile .skills {
		display: flex;
		flex-direction: row;
		margin: auto;
	}

	#skillswrapmobile .skills .sklicon {
		margin: 50px auto;
	}

	#skillswrapmobile .skills .sklicon img {
	/*	background-color: green;
	*/	margin: auto;
		width: 120px;
		animation: skillsanim 3s linear infinite;
	}

	@keyframes skillsanim {
		0%{
			transform: none;
		}
		50%{
			transform: scale(.9);
		}
		100%{
			transform: none;
		}
	}
}

/*PENUTUP RESPONSIVE SKILLS MOBILE*/
/*PENUTUP SKILLS*/

/*INI ADALAH PROJECT*/
#project {
	text-align: center;
	display: flex;
	flex-direction: column;
}

#project span {
	display: block;
	height: 80px;
	font-size: 70px;
	font-weight: bold;
	color: #23272a;
}

#project .smalltext {
	margin-top: 18px;
	display: block;
	font-size: 18px;
	font-weight: bold;
}

#project #myproject {
	display: flex;
	flex-direction: row;
	margin: auto;
}

#project #myproject .clientproject {
	margin-top: 20px;
	margin: auto;
	width: 250px;
}

#project #myproject .clientproject img{
	width: 250px;
}

@media only screen and (max-width: 730px){
		#project #myproject {
		display: flex;
		flex-direction: column;
		margin: auto;
	}
		#project #myproject .clientproject img{
			width: 200px;
			margin: 20px auto;
		}

		#project #myproject .myproject2 img{
			width: 190px;
		}


}
/*INI ADALAH PENUTUP PROJECT*/

/*INI ADALAH PEMBUKA CERTIFCATE*/

/*INI ADALAH PENUTUP CERTIFICATE*/
/*INI ADALAH FOOTER*/

/*INI ADALAH PENUTUP FOOTER*/


