@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-weight:600;
    margin: 0;
    padding: 0;
    transition: .3s;
}

body, a{
    color: white;
}

.dark-mode {
    background-color: rgba(0,0,0,.9);
    transition: .3s;
}

/* SWITCH-BUTTON */
/* DAY */
.toggle-mode-day {
    width: 50.4px;
    height: 31.5px;
    background-color: white;
    margin: auto;
    border: none;
    border-radius: 26px;
    border: rgba(0,0,0,.5) solid .5px;
    position: relative;
    transition: .3s;
    padding: 3px;
}

.toggle-mode-day div {
    width: 24px;
    height: 24px;
    position: relative;
    left: 0;
    background-image: url(img/sun.png);
    transition: .3s;
}

/* NIGHT */
.toggle-mode-night {
    width: 50.4px;
    height: 31.5px;
    background-color: black;
    margin: auto;
    border: none;
    border-radius: 26px;
    border: rgba(255,255,255,.5) solid .5px;
    position: relative;
    transition: .3s;
}

.toggle-mode-night div {
    width: 24px;
    height: 24px;
    position: relative;
    left: 45%;
    background-image: url(img/moon.png);
    transition: .3s;
}


/* CONTAINER */
.container-main {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    background-color: #7952B3;
    padding: 22px;
    border-radius: 6px;
}

/* CONTAINER-SECOND */
.container-second {
    position: fixed;
    top: 2%;
    right: 2%;   
}

/* EXPENSE TITLE */
.expense-title h1, .expense-title h6 {
    text-align: center;
}

/* EXPENSE INPUT */
#wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px;
    grid-gap: 22px;
}

#wrapper .content {
    display: grid;
    grid-template-columns: 1fr;
}

#wrapper .button-parent {
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
}

/* EXPENSE */
.expense-parent {
    display: grid;
    grid-template-columns: 1fr;
}

.expense {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(120px, 1fr));;
    grid-template-rows: 50px;
    background-color:indigo;
    border-radius: 6px;
    margin-top: 22px;
    overflow: hidden;
}

.expense-entity {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(170, 42, 196);
    margin: 8px ;
    border-radius: 6px;
}







